:host {
    display: block;
  }
  
  mat-dialog-content {
    min-width: 300px;
    background-color: #e0e2ec;
  }

  mat-dialog-actions{
    background-color: #e0e2ec;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .width-full{
    width: 100%;
  }


  